<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/static/style.css" type="text/css">
    <meta charset="UTF-8">
    <title>Flask Login System</title>
    <link rel="icon" href="/static/favicon.png">
    <script>
        function login_page() {
            //alert('hello!');
            window.location.href = '/login';
        }

        function register() {
            window.location.href = '/register';
        }
    </script>
</head>
<body>

{% block body %}
{% if session['logged_in'] %}
<p>You're logged in already!</p>
{% else %}

<div class="alert-container">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-warning alert-dismissible" role="alert">
        {{message}}
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}

</div>
<br>
<div>
    <button type="button" onclick="login_page()" class="change btn-primary btn-large btn-block">Login</button>
    <br>
    <button type="button" onclick="register()" class="change btn-secondary btn-large btn-block">Register</button>
</div>
{% endif %}
{% endblock %}
</body>
</html>