<!DOCTYPE html>
<html>
<body>
<link rel="stylesheet" href="/static/style.css" type="text/css">

<div class="alert-container">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-warning alert-dismissible" role="alert">
        {{message}}
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}

</div>
<br>
<div>
    <button type="button" onclick="login_page()" class="change btn-primary btn-large btn-block">Login</button>
    <br>
    <button type="button" onclick="register()" class="change btn-secondary btn-large btn-block">Register</button>
</div>
{% endif %}
{% endblock %}

<script>
    function login_page() {
        //alert('hello!');
        window.location.href = '/login';
    }

    function register() {
        window.location.href = '/register';
    }
</script>
</body>
</html>